/* Core selectors */

body {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 16px;
	color: #333;
	min-width: 750px;
	}

h1 {
	font-size: 24px;
	font-weight: normal;
	}

h1 a {
	color: #000;
	text-decoration: none;
	}

h1 a:hover {
	text-decoration: none;
	}

h2 {
	font-size: 24px;
	font-weight: normal;
	color: #000;
	}
	
img {
	border: 0;
	}

p {
	line-height: 24px;
	}
	
ul, ol {
	padding-left: 25px;
	}

li {
	padding: 6px 0;
	}

a {
	color: #036;
	}

a:hover {
	background-color: #f4dda6;
	text-decoration: none;
	}


/* Teaser */

#teaser {
	background: #981A21;
	color: #fff;
	padding: 8px 12px 10px 12px;
	font-size: 16px;
	}

#teaser a {
	color: #fff;
	}

#teaser a:hover {
	background: #fff;
	text-decoration: none;
	color: #981A21;
	}

#teaser img {
	float: right;
	margin: 0 0 0 10px;
	}

#teaser img#atom {
	margin-top: -1px;
	}


/* Sidebar */

#sidebar {
	float: left;
	width: 310px;
	margin-top: 20px;
	margin-left: 10px;
	}

#sidebar a {
	background: none;
	}

#intro {
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	width: 250px;
	margin-top: 20px;
	margin-left: 5px;
	font-size: 12px;
	}

#intro p {
	line-height: 1.5em;
	}


/* Content */

#content {
	width: 750px;
	margin: 0 auto;
	padding: 0 40px 0 40px;
	}

#primary {
	width: 400px;
	margin-left: 340px;
	padding-top: 45px;
	}

#about {
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 1.5em;
	color: #666;
	}

#about a {
	text-decoration: none;
	color: #333;
	}

#take {
	color: #666;
	}

#latest {
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 12px;
	color: #981A21;
	}

#latest a {
	}


/* Badges */

#badge #primary img {
	margin: 0 20px;
	}

#download {
	font-size: 16px;
	margin-top: 20px;
	color: #666;
	}
